<footer class="page-footer font-small cyan darken-1" id='footer'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-1">
        <div class="mb-5 flex-center">
          <a class="fb-ic" href='//www.facebook.com' target="_blank">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="tw-ic" href='//www.twitter.com' target="_blank">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="gplus-ic" href='//www.aboutme.google.com' target="_blank">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="li-ic" href='//www.linkedin.com' target="_blank">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="ins-ic" href='//www.instagram.com' target="_blank">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <a class="pin-ic" href='//www.pinterest.com' target="_blank">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
    </div>
      <div class='text-center'>
      <b>
      Contact Us
      </b>
      <br>
      Pokhara, Nepal
      <br>
      Email: egreenoceries@gmail.com
      <br>
      Phone: +9779845807238
      </div>
  </div>
  
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="/"> e-Greenoceries.com</a>
  </div>
</footer>
